<div id="menu" class="close-menu">
  <div class="navigation">
    <ul>
      <li class="list" [ngClass]="{'active' : !urlActive}">
        <b></b>
        <b></b>
        <a href="/">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Home</span>
        </a>
      </li>
      <li class="list" [ngClass]="{'active' : urlActive === 'login'}">
        <b></b>
        <b></b>
        <a href="/login">
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="title">Profile</span>
        </a>
      </li>
      <!-- <li class="list">
        <b></b>
        <b></b>
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Services</span>
        </a>
      </li>
      <li class="list">
        <b></b>
        <b></b>
        <a href="#">
          <span class="icon">
            <ion-icon name="images-outline"></ion-icon>
          </span>
          <span class="title">Portfolio</span>
        </a>
      </li>
      <li class="list">
        <b></b>
        <b></b>
        <a href="#">
          <span class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </span>
          <span class="title">Contact us</span>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="breadcrum"></div>
  <div class="toggle">
    <ion-icon [ngClass]="classOpen" name="menu-outline" (click)="onOpenMenu()"></ion-icon>
    <ion-icon [ngClass]="classClose" name="close-outline" (click)="onCloseMenu()"></ion-icon>
  </div>
</div>